* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: #111111;
}

@font-face {
	font-family: 'Padrao';
	src: url('font/digital-7.ttf');
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(to bottom, #6ab7f5, #F6F6F6);
	background-size: cover;
}

section {
	position: relative;
	display: inline-block;
	padding: .5rem;
}

.pokedex {
	max-width: 100%;
}

.pokemon {
	position: absolute;
	top: 10%;
	left: 43%;
	height: 15%;
	transform: translate(25%, 45%);
}


.data {
	position: absolute;
	top: 61%;
	left: -0.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.numero {
	font-family: 'Padrao';
	font-size: 7rem;
	margin-bottom: 1rem;
}

.nome {
	font-family: 'Padrao';
	font-size: 3rem;
}

.form  {
	position: absolute;
	top: 53.9%;
	left: 39.7%;
}

.pesquisar {
	outline: none;
	padding: .1rem;
}

.botoes {
	position: absolute;
	top: 70.5%;
	left: 12.9%;
	display: flex;
	gap: .3rem;
}

.botao {
	color: #014024;
	background-image: linear-gradient(to bottom, #5B702D, #9BC547);
	border-radius: 1rem;
	padding: 1rem 1.9rem;
}